.col-md-12
  .form-group  
    =select_tag 'group[]', options_for_select(group_options, @group.id), class: 'form-control selectpicker', data: {velue: @group.id}
    =link_to "Нет в списке", new_group_path(i: @i), remote: true, id: "new_groups_link#{@i}"

