%h1 Рейтинг

%table
  %thead
    %tr
      %th Название
      %th Тип
      %th

  %tbody
    - @ratings.each do |rating|
      %tr
        %td= link_to 'Показать', rating
        %td= link_to 'Редактировать', edit_rating_path(rating)
        %td= link_to 'Удалить', rating, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

= link_to 'Новый рейтинг', new_rating_path
