= form_for @community do |f|
  - if @community.errors.any?
    = error_messages_for @community

  .row
    .col-md-8
      .form-group
        =f.label :name
        =f.text_field(:name, class: 'form-control')
        =f.error_messages_for(:name)

  .actions
    = f.button "data-toggle" => "tooltip", class: "btn btn-primary" do
      =fa_icon "check"
      Сохранить
